body {
    background: #FAF5EE;
    font-family: Comic-sans, Arial, Helvetica, sans-serif;
    margin: 0px;
    
    /* alignments */
}

.titleHeader {
    margin: 0px;

    /* alignments */
    display: flex;
    justify-content: center;
    align-content: center;
}

nav {

    font-size: 23px;

    /* alignments */
    display: flex;
    justify-content: center;
    align-content: center;
}

nav a {
    padding: 0px 15px 0px 15px;
    text-decoration: none;
    color: #8D44BD;
}

div.side-by-side {
    display: flex;
}

img {
    width: 59%;
    max-width: 500px;
}

.logoImg {
    width: 100px;
    padding: 15px 0px 0px 0px;
    margin: 0px;
}

figcaption {
    font-size: 11px;
    color: brown;
}

.featureBlock {
    background-color:pink;
    font-size: smaller;
}