body {
    background: #FAF5EE;
    font-family: Comic-sans, Arial, Helvetica, sans-serif;
    margin: 0px;
    
    /* alignments */
}

/* Navigation Menu */
.headerNav {
    background: #FFF5A8;
    margin: 0px;

    /* alignments */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.branding {
    
    /* alignments */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

img {
    width: 59%;
    max-width: 500px;
}

.logoImg {
    width: 100px;
    padding: 15px 0px 0px 0px;
    margin: 0px;
}

nav {

    font-size: 20px;
    padding: 0px 0px 10px 0px;
    box-shadow: 0px 5px 5px #B3540020;
    margin: 0px;

    /* alignments */
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 15px;
}

nav a {
    padding: 5px 15px 5px 15px;
    text-decoration: none;
    border: 2px solid #B3540020;
    border-radius: 10px;
    color: #724023;
    margin: 0px;
}

/* Body Content */
.bodyContent {
    padding: 2px 15px 20px 15px;
    margin: 0px;
    
    /* alignment */
    display: flex;
    flex-direction: column;
    
}

div.side-by-side {
    display: flex;
}


figcaption {
    font-size: 11px;
    color: brown;
}

.featureBlock {
    background-color:pink;
    font-size: smaller;
}