/* Fonts
font-family: "Baloo Bhaina 2", sans-serif;
font-family: "Balsamiq Sans", sans-serif;
font-family: "Montserrat", sans-serif;
 */
 
h1 {
    font-family: "Baloo Bhaina 2", sans-serif;
    font-size: 50px;
    margin: 0;
    padding: 0;
}

h2 {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 36px;
}

h3 {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 28px;
}

p {
font-family: "Balsamiq Sans", sans-serif;
    font-size: 18px;
}

body {
    background: #1C0300;
    font-family: Comic-sans, Arial, Helvetica, sans-serif;
    margin: 0px;
    
    /* alignments */
}

/* Navigation Menu */
.headerNav {
    background: #FFF5A6;
    margin: 0px;

    /* alignments */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.branding {
    
    /* alignments */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    color: #1C0300;
}

img {
    width: 59%;
    max-width: 500px;
}

.logoImg {
    width: 100px;
    padding: 15px 0px 0px 0px;
    margin: 0px;
}

nav {

    font-size: 20px;
    padding: 0px 0px 10px 0px;
    box-shadow: 0px 5px 5px #B3540020;
    margin: 0px;

    /* alignments */
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 15px;
}

nav a {
    padding: 5px 15px 5px 15px;
    text-decoration: none;
    border: 2px solid #B3540020;
    border-radius: 10px;
    color: #724023;
    margin: 0px;
}

/* Body Content */
.bodyContent {
    padding: 2px 50px 20px 50px;
    margin: 0px;
    color: #FFFCF8;
    
    /* alignment */
    display: flex;
    flex-direction: column;
    
}

.bodyContent hr {
    border-width: 2px;
    border-color: #FFFCF8;
    border-style: solid;
    margin: 0;
    width: 20%;
}

.bodyContent li {
    padding-bottom: 15px;
    font-family: "Balsamiq Sans", sans-serif;
    font-style: italic; 
}

.bodyContent li:hover {
    text-decoration: underline;
    color: #E3699E;
}

.bodyContent a {
    color: #E3699E;
    text-decoration: none;
}

@media (max-width: 600px) {
    .bodyContent hr {
        width: 50%;
    }
}

.bodyContent section div {
    padding-bottom: 50px;
}

#bean figure {
    padding-top: 30px;
    width: 50%;
}


#galleryImgs {
    padding-top: 50px;
}

#galleryImgs figure{
    width: 50%;
    padding-bottom: 50px;
    margin: auto;
    
    /* alignment */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

figcaption {
    font-size: 12px;
    color: #FFF5A6;
    width: 200px;
    padding-top: 10px;
}

.featureBlock {
    background-color:pink;
    font-size: smaller;
}